.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
        margin-bottom: 20px;
        color: white;
    }

    &__error {
        color: red;
        margin-bottom: 15px;
    }

    &__input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: rgba(151, 151, 24, 0.568);
            box-shadow: 0 0 5px rgba(151, 151, 24, 0.568);
        }
    }

    &__button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: rgba(151, 151, 24, 0.568);
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(119, 119, 17, 0.568);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(119, 119, 17, 0.568);
        }
    }
}